<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/register.css}"/>
</head>
<body>

    <h1>Login Page</h1>
    <form method="post" class = "login-form" th:action = "@{/login}">
        <label for = "username">
            Username:
        </label>
        <input type = "text" id = "username" name = "username"><br><br>
        <label for = "password">
            Password:
        </label>
        <input type = "text" id = "password" name = "password"><br><br>
        <input type="submit" value="Login", id = "regButton">

    </form>



</body>
</html>