<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Password Edit Page</title>
    <link rel ="stylesheet" th:href = "@{css/register.css}"/>
</head>
<body>
  <h1>Password changer</h1>

  <form method="post" class = "register-form" th:action = "@{/posts/passwordEdit}">
      <label for = "oldPassword">
          Current Password:
      </label>
      <input type = "password" id = "oldPassword" name = "oldPassword" required><br><br>
      <label for = "newPassword">
          New password:
      </label>

      <input type = "password" id = "newPassword" name = "newPassword" required><br><br>

      <input type="submit" value="Login", id = "regButton">

      <p th:if="${invalid}" th:text="${invalid}" class="error"></p>
      <p th:if="${passwordChanged}" th:text="${passwordChanged}" class="error"></p>


      <a id = "backButton" href = "/user">Back</a>
  </form>


</body>
</html>