<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/register.css}"/>
</head>
<body>

    <h1>Register Page</h1>
    <form role = "form" th:method="POST" class = "register-form" th:action = "@{/done/}", th:object="${myUser}">
        <label for = "name">
            Enter your name here:
        </label>
        <input type = "text" th:field="*{name}" id = "name"><br><br>
        <label for = "password">
            Enter your password here:
        </label>

        <input type = "text" th:field="*{password}" id = "password"><br><br>

        <input type="submit" value="Register", id = "regButton">

    </form>



</body>
</html>