<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel ="stylesheet" th:href = "@{css/register.css}"/>

</head>
<body>
<div class= "container">
    <h1>Register Page</h1>
    <form th:method="POST" class = "register-form" th:action = "@{/register}" th:object="${myUser}">
        <label for = "name">
            Enter your name here:
        </label>
        <input type = "text" th:field="*{name}" id = "name"><br><br>
        <label for = "password">
            Enter your password here:
        </label>

        <input type = "text" id = "password" th:field="*{password}"><br><br>

        <input type="submit" value="Register", id = "regButton">

    </form>
</div>


</body>
</html>